<section class="px-4 py-10 min-h-[83vh]">
  <div
    class="container rounded-2xl mx-auto bg-secondary p-6 relative flex flex-col"
  >
    <h1 class="font-bold text-2xl mb-6">Upload Video</h1>
    @if (alert.getAlert().showAlert) {
      <app-alert [color]="alert.getAlert().alertColor" class="text-center">
        {{ alert.getAlert().alertMessage }}
      </app-alert>
    }
    @if (!nextStep()) {
      <!-- Upload Dropbox -->
      <div
        appEventBlocker
        (drop)="storeFile($event)"
        (dragenter)="isDragOver.set(true)"
        (dragover)="isDragOver.set(true)"
        (dragend)="isDragOver.set(false)"
        (dragleave)="isDragOver.set(false)"
        (mouseleave)="isDragOver.set(false)"
        (click)="fileInput.click()"
        [class]="
          isDragOver() ? 'bg-indigo-400 border-indigo-400 border-solid' : ''
        "
        class="w-full px-10 py-30 rounded-2xl text-center font-medium cursor-pointer border-2 border-dashed border-gray-400 transition duration-500 hover:text-white hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl"
      >
        <svg
          width="100"
          height="100"
          viewBox="-0.8 -0.8 17.60 17.60"
          xmlns="http://www.w3.org/2000/svg"
          fill="#ffffff"
          class="inline-block"
          stroke="#ffffff"
          stroke-width="0.16"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"
            ></path>
            <path
              d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
            ></path>
          </g>
        </svg>
        <p>Drag & Drop Your Video Here</p>
        <p>
          Or
          <span class="underline underline-offset-2"
            >click anywhere to browse</span
          >
        </p>
        <p class="text-xs mt-2">*Supports MP4 videos with max size 15MB</p>
        <input
          #fileInput
          type="file"
          accept="video/mp4"
          hidden
          (change)="storeFile($event)"
        />
      </div>
    } @else {
      <!-- Form -->
      <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
        <!-- Screenshots -->
        <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          <div class="border-8 cursor-pointer border-green-400">
            <img src="assets/img/1.jpg" />
          </div>
          <div class="border-8 cursor-pointer border-transparent">
            <img src="assets/img/2.jpg" />
          </div>
          <div class="border-8 cursor-pointer border-transparent">
            <img src="assets/img/3.jpg" />
          </div>
        </div>

        <!-- Title -->
        <div class="mt-4 min-h-27">
          <label class="block text-xl mb-4">Title</label>
          <app-input-field
            [control]="uploadForm.controls.title"
            placeholder="Enter a title for your video."
          ></app-input-field>
        </div>

        <!-- Submit Button -->
        <div class="mt-4 text-right">
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 focus:outline-none"
            [class]="
              !uploadForm.valid || inSubmission()
                ? 'opacity-50'
                : 'hover:bg-indigo-700'
            "
            [disabled]="!uploadForm.valid || inSubmission()"
          >
            Publish
          </button>
        </div>
      </form>
    }
  </div>
</section>
