<input
  [type]="type()"
  class="block w-full rounded border border-gray-400 bg-transparent px-3 py-1.5 text-gray-200 transition duration-500 focus:border-indigo-400 focus:outline-none"
  [placeholder]="placeholder()"
  [formControl]="control()"
/>
@if (control().touched && control().dirty) {
  @if (control().hasError("required")) {
    <span class="ms-2 text-sm text-red-400">Field Is Required.</span>
  }
  @if (control().hasError("minlength")) {
    <span class="ms-2 text-sm text-red-400">
      This Field Should Be At Least
      {{ control().getError("minlength").requiredLength }}
      Characters Long.
    </span>
  }
  @if (control().hasError("email")) {
    <span class="ms-2 text-sm text-red-400">Please Enter A Valid Email.</span>
  }
  @if (control().hasError("min") || control().hasError("max")) {
    <span class="ms-2 text-sm text-red-400"
      >Please Enter A Valid Age. (Min Age Is 13)</span
    >
  }
  @if (control().hasError("pattern")) {
    <span class="ms-2 text-sm text-red-400">
      Passwords Must Be At Least 8 Characters Long, Contains 1 Uppercase
      Letter,1 Lowercase Letter And 1 Number.
    </span>
  }
}
