<!-- Footer -->
<footer class="w-full bg-secondary text-gray-400 text-sm py-7">
  <div
    class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <p class="text-center">
      &copy; 2025 Made With ♥️ By
      <span class="text-indigo-400 font-semibold"> Eslam Elhusseiny</span>. All
      rights reserved.
    </p>
    <div class="flex gap-6">
      <a
        href="https://github.com/Eslam-H-Elhusseiny"
        target="_blank"
        class="hover:text-white transition"
        >GitHub</a
      >
      <a
        href="https://linkedin.com/in/eslam-h-elhusseiny"
        target="_blank"
        class="hover:text-white transition"
        >LinkedIn</a
      >
      <a
        href="mailto:eslam.hamed.elhusseiny@gmail.com"
        class="hover:text-white transition"
        >Gmail</a
      >
    </div>
  </div>
</footer>
