<header
  id="header"
  class="sticky top-4 bg-nav rounded-full mt-4 mx-4 md:mx-12 z-20 px-6 transition-all duration-400 ease-in-out"
  [class.opacity-0]="!isScrollingUp()"
  [class.-translate-y-12]="!isScrollingUp()"
  [class.pointer-events-none]="!isScrollingUp()"
  [class.opacity-100]="isScrollingUp()"
  [class.translate-y-0]="isScrollingUp()"
>
  <nav class="container mx-auto flex items-center justify-between py-4 w-full">
    <a class="inline-block pl-4" routerLink="/">
      <svg
        width="50"
        viewBox="0 0 60 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.2001 32C45.8275 32 51.2001 26.6274 51.2001 20C51.2001 13.3726 45.8275 8 39.2001 8C32.9802 8 27.8656 12.7321 27.2601 18.7925C24.8084 17.6836 22.1597 17.0209 19.4473 16.8465C20.9595 7.29911 29.2274 0 39.2001 0C50.2458 0 59.2001 8.95431 59.2001 20C59.2001 30.6428 50.887 39.344 40.4 39.9646V40H27.2195V38.2545C27.2195 35.987 26.2844 33.7821 24.5705 32.1336C22.8517 30.4804 20.4908 29.5273 18 29.5273C15.5092 29.5273 13.1483 30.4804 11.4295 32.1336C9.71564 33.7821 8.78049 35.987 8.78049 38.2545V40H0V38.2118C0 33.5371 1.94004 29.0906 5.33341 25.8398C8.61822 22.693 13.0047 20.9102 17.5711 20.805C17.7139 20.8017 17.8569 20.8 18 20.8C18.1108 20.8 18.2215 20.801 18.3322 20.803C22.9333 20.8851 27.3586 22.6707 30.6666 25.8398C32.4991 27.5953 33.9078 29.6995 34.8159 32H39.2001Z"
          fill="#7c86ff"
        ></path>
        <path
          d="M21.677 34.9245C22.6521 35.7725 23.2 36.9227 23.2 38.122V40H12.8V38.122C12.8 36.9227 13.3479 35.7725 14.323 34.9245C15.2982 34.0764 16.6209 33.6 18 33.6C19.3791 33.6 20.7018 34.0764 21.677 34.9245Z"
          fill="#7c86ff"
        ></path>
        <path
          d="M43.7818 18.0363C42.3358 18.0363 41.1637 16.8642 41.1637 15.4182V14.7636C41.1637 13.6792 40.2845 12.8 39.2 12.8C38.1155 12.8 37.2364 13.6791 37.2364 14.7636V15.4182C37.2364 16.8642 36.0642 23.1358 34.6182 24.5818V25.2364C37.2364 26.3209 38.1155 27.2 39.2 27.2C40.2845 27.2 41.1637 26.3209 41.1637 25.2364V24.5818C41.1637 23.1358 42.3358 21.9636 43.7818 21.9636H44.4364C45.5209 21.9636 46.4 21.0845 46.4 20C46.4 18.9155 45.5209 18.0363 44.4364 18.0363H43.7818Z"
          fill="#7c86ff"
        ></path>
        <path
          d="M11.2001 3.20004C11.2001 4.96732 12.6328 6.39999 14.4001 6.39999H15.2C16.5255 6.39999 17.6 7.47451 17.6 8.79999C17.6 10.1255 16.5255 11.2 15.2 11.2H14.4001C12.6328 11.2 11.2001 12.6327 11.2001 14.3999V15.2C11.2001 16.5255 10.1256 17.6 8.80011 17.6C7.47463 17.6 6.40011 16.5255 6.40011 15.2L6.40011 14.4C6.40011 12.6327 4.96742 11.2 3.20011 11.2H2.4C1.07452 11.2 0 10.1255 0 8.79999C0 7.47451 1.07452 6.39999 2.4 6.39999H3.20012C4.96742 6.39999 6.40011 4.96731 6.40011 3.2L6.40011 2.4C6.40011 1.07452 7.47463 0 8.80011 0C10.1256 0 11.2001 1.07452 11.2001 2.4V3.20004Z"
          fill="#7c86ff"
        ></path>
      </svg>
    </a>

    <button
      class="md:hidden focus:outline-none cursor-pointer"
      (click)="toggleMenu()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8 text-indigo-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>

    <ul class="hidden md:flex justify-between items-center mt-1 gap-0.5">
      <li>
        <a
          class="p-2 hover:text-indigo-400 transition duration-200"
          routerLink="/"
          routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      @if (auth.authState$ | async) {
        <li>
          <a
            class="p-2 hover:text-indigo-400 transition duration-200"
            routerLink="/manage"
            [queryParams]="{ sort: '1' }"
            routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
            [routerLinkActiveOptions]="{
              queryParams: 'ignored',
              matrixParams: 'exact',
              paths: 'exact',
              fragment: 'ignored',
            }"
            >Manage</a
          >
        </li>
        <li>
          <a
            class="p-2 hover:text-indigo-400 transition duration-200"
            routerLink="/upload"
            routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
            [routerLinkActiveOptions]="{ exact: true }"
            >Upload</a
          >
        </li>
      }
      <li>
        <a
          class="p-2 hover:text-indigo-400 transition duration-200"
          routerLink="/about"
          routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
          [routerLinkActiveOptions]="{ exact: true }"
          >About Us</a
        >
      </li>
      <li>
        <a
          class="p-2 hover:text-indigo-400 transition duration-200"
          routerLink="/contact"
          routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact Us</a
        >
      </li>
    </ul>

    <ul class="hidden md:flex mt-1 font-bold">
      @if (auth.authState$ | async) {
        <li>
          <a
            class="px-6 py-2 border border-indigo-400 hover:bg-red-500 hover:border-transparent rounded-full cursor-pointer transition duration-300"
            (click)="auth.logout($event)"
            >Logout</a
          >
        </li>
      } @else {
        <li>
          <a
            class="px-6 py-2 border border-indigo-400 hover:bg-indigo-400 rounded-full cursor-pointer transition duration-300"
            (click)="openModal($event)"
            >Login | Register</a
          >
        </li>
      }
    </ul>
  </nav>

  <nav
    class="md:hidden bg-secondary mt-1 absolute top-full left-0 right-0 rounded-2xl shadow-lg pb-4"
    [class.hidden]="!isMenuOpen"
  >
    <ul class="flex flex-col items-center gap-2 p-4">
      <li>
        <a
          class="block w-full text-center p-2 hover:text-indigo-400 transition duration-200"
          routerLink="/"
          routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
          >Home</a
        >
      </li>

      @if (auth.authState$ | async) {
        <li>
          <a
            class="block w-full text-center p-2 hover:text-indigo-400 transition duration-200"
            routerLink="/manage"
            [queryParams]="{ sort: '1' }"
            routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
            [routerLinkActiveOptions]="{
              queryParams: 'ignored',
              matrixParams: 'exact',
              paths: 'exact',
              fragment: 'ignored',
            }"
            (click)="closeMenu()"
            >Manage</a
          >
        </li>
        <li>
          <a
            class="block w-full text-center p-2 hover:text-indigo-400 transition duration-200"
            routerLink="/upload"
            routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
            >Upload</a
          >
        </li>
      }

      <li>
        <a
          class="block w-full text-center p-2 hover:text-indigo-400 transition duration-200"
          routerLink="/about"
          routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
          >About Us</a
        >
      </li>

      <li>
        <a
          class="block w-full text-center mb-2 p-2 hover:text-indigo-400 transition duration-200"
          routerLink="/contact"
          routerLinkActive="bg-indigo-400 font-bold px-5 rounded-full transition hover:text-inherit"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
          >Contact Us</a
        >
      </li>

      <li class="w-[22rem]">
        @if (auth.authState$ | async) {
          <a
            class="block w-1/2 mx-auto text-center px-6 py-2 border border-indigo-400 hover:bg-red-500 hover:border-transparent rounded-full cursor-pointer transition duration-300 font-bold"
            (click)="auth.logout($event)"
            (click)="closeMenu()"
            >Logout</a
          >
        } @else {
          <a
            class="block w-1/2 mx-auto text-center px-6 py-2 border border-indigo-400 hover:bg-indigo-400 rounded-full cursor-pointer transition duration-300 font-bold"
            (click)="openModal($event)"
            (click)="closeMenu()"
            >Login | Register</a
          >
        }
      </li>
    </ul>
  </nav>
</header>
